<div class="mat-elevation-z8">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        <h1>USUARIOS</h1>
        <button mat-raised-button color="primary" routerLink="/usuarios/new"><mat-icon>add</mat-icon> Añadir </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row._id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="apellido"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let row">{{row.apellido}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dni"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
          <td mat-cell *matCellDef="let row">{{row.dni}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="username"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let row">{{row.username}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoUsuario"  style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">
            {{row.tipoUsuario | json}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="direcciones" style="padding-right: 6px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Direcciones</th>
          <td mat-cell *matCellDef="let row">
            <div *ngFor="let dir of row.direcciones">
              {{dir.calle}}, {{dir.provincia}}. {{dir.localidad}} - CP: {{dir.cp}}
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="botones" class="prueba">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" routerLink="/usuarios/edit/{{row._id}}"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" (click)="eliminar(row._id)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
